.container {
  border-radius: var(--border-radius);
  border: var(--secondary-border);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 32px;
  max-width: 300px;
  min-height: 32px;
  padding: 0 4px;
  width: 100%;
}

.icon {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  display: flex;
  height: 30px;
  justify-content: center;
  opacity: 50%;
  width: 30px;
}

.search {
  background-image: url("../../assets/search.svg");
}

.trash {
  background-image: url("../../assets/trash.svg");
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.input {
  border: none;
  display: flex;
  flex: 1;
  min-height: 30px;
  padding: 0;
}

.input:focus {
  outline: none;
}

.suggestionsContainer {
  background-color: var(--white);
  border-radius: var(--border-radius);
  border: var(--secondary-border);
  box-shadow: var(--shadow);
  display: none;
  flex-direction: column;
  margin-left: -5px;
  max-height: 90px;
  max-width: calc(100% + 8px);
  position: relative;
  width: calc(100% + 8px);
  z-index: 100;
}

.suggestionsWrapper {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.suggestionsList {
  overflow-y: auto;
}

.content:focus-within + .suggestionsContainer {
  display: flex;
}
