.container {
  border: var(--secondary-border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  padding: 20px 40px 40px;
  text-align: center;
}

.grid {
  display: grid;
  flex: 1;
  gap: 10px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto repeat(2, 30px);
}

.range {
  align-items: end;
  display: flex;
  flex-direction: column;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
  justify-content: space-between;
}

.chartContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-row-start: 1;
}

.chart {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABACAQAAABxGNXLAAABJWlDQ1BJQ0MgcHJvZmlsZQAAKJGdkD1Lw1AUhp/WT/wAwY9BHDK4ScHFTC5qMTgUahvB6pTetFhMYkhSiv/Af6I/poMg+BucFZx9b3RwMIsXDu/D4Zz3vfdC3YlMnM/uQ5wUmdc56l32rpyFN5aZY409NgOTp63uqU/l+XylZvWlYb2q5/488+EgN9KpKjFpVkDtUOxOitSyio1bv3MifhA7YZyE4ifxbhiHlu1uJ47G5sfT3mZlkFx0bV+1g8cZLdo49BkzIqKgIU3UaeJyIPXICLgnx0gjBupNNFNwI8rl5HEs8kW6TUXedpnXVkpfHiN52YQ7YnnaPOz/fq99nJebta1pGmRB2ZpR1YdDeH+E1R6sP8PSdUXW4u+3Vcy45cw/3/gFCG1QdVXFb+0AAAACYktHRAD/h4/MvwAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB+gLBRAtNoV7nmoAAAAOSURBVAjXY2D4zzCUAQC+AgEAsTsvjAAAAABJRU5ErkJggg==");
  border-bottom: var(--primary-border);
  border-left: var(--primary-border);
  border-right: var(--primary-border);
  display: flex;
  flex: 1;
  gap: 5px;
  height: 600px;
  min-height: 100%;
}

.labels {
  display: flex;
  flex-direction: column;
  flex: 1;
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-row-start: 2;
  justify-content: center;
}

.legends {
  display: flex;
  flex-direction: column;
  flex: 1;
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-row-start: 3;
  justify-content: center;
}
