.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 10px;
}

.chartContainer {
  flex: 1;
}

.chart {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABACAQAAABxGNXLAAABJWlDQ1BJQ0MgcHJvZmlsZQAAKJGdkD1Lw1AUhp/WT/wAwY9BHDK4ScHFTC5qMTgUahvB6pTetFhMYkhSiv/Af6I/poMg+BucFZx9b3RwMIsXDu/D4Zz3vfdC3YlMnM/uQ5wUmdc56l32rpyFN5aZY409NgOTp63uqU/l+XylZvWlYb2q5/488+EgN9KpKjFpVkDtUOxOitSyio1bv3MifhA7YZyE4ifxbhiHlu1uJ47G5sfT3mZlkFx0bV+1g8cZLdo49BkzIqKgIU3UaeJyIPXICLgnx0gjBupNNFNwI8rl5HEs8kW6TUXedpnXVkpfHiN52YQ7YnnaPOz/fq99nJebta1pGmRB2ZpR1YdDeH+E1R6sP8PSdUXW4u+3Vcy45cw/3/gFCG1QdVXFb+0AAAACYktHRAD/h4/MvwAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB+gLBRAtNoV7nmoAAAAOSURBVAjXY2D4zzCUAQC+AgEAsTsvjAAAAABJRU5ErkJggg==");
  border-right-width: 0px;
  border-top-width: 0px;
  border: 1px solid rgb(186, 186, 186);
  display: flex;
  gap: 5px;
  height: 600px;
}
