.container {
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}

.primary {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

.secondary {
  color: var(--accent-color);
}

.secondary:hover {
  background-color: var(--white);
}
