.container {
  font-size: 28;
  font-weight: bold;
}
.primary {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}
.secondary {
  background-color: var(--white);
  color: var(--accent-color);
}
