:root {
  --primary-color: #008080;
  --secondary-color: #505050;
  --accent-color: #ef6145;
  --accent-color-75: #ef6145bf;
  --background-color: #008080;
  --background-color-alt: #d3d3d3;
  --background-hover-color: #d3d3d3;
  --primary-text-color: #505050;
  --secondary-text-color: #fafafa;
  --white: #fafafa;
  --primary-border-color: #505050;
  --secondary-border-color: #d3d3d3;
  --shadow-color: #d3d3d3;
}
