.title {
  color: var(--primary-text-color);
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  margin: 0;
  padding: 0;
}

@media (min-width: 800px) {
  .title {
    font-size: 24px;
  }
}
