.label {
  align-items: center;
  color: var(--primary-text-color);
  display: flex;
  font-size: 16px;
  font-weight: bold;
}

.alt {
  color: var(--primary-text-color-alt);
}

@media (min-width: 800px) {
  .label {
    font-size: 18px;
  }
}
