.container {
  align-items: center;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 30px;
  max-height: 30px;
  min-height: 30px;
  padding: 4px 8px;
  width: 100%;
}

.container:last-child {
  border-bottom: none;
}
