.container {
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding-bottom: 8px;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  max-width: var(--screens-max-width);
  width: 100%;
}

.title {
  color: var(--secondary-text-color);
  margin: 0px;
  text-align: center;
}

.icon {
  align-items: center;
  background-image: url("../../assets/Octicons-mark-github-w.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}
