.container {
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding-bottom: 8px;
  width: 100%;
}

.content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  max-width: var(--screens-max-width);
  padding: 0 32px;
  width: 100%;
}

.navItem {
  display: flex;
  flex: 1;
  justify-content: center;
}

.navItem:first-child {
  justify-content: flex-start;
}

.title {
  color: var(--secondary-text-color);
  margin: 0px;
  text-align: center;
}

.icon {
  align-items: center;
  background-image: url("../../assets/Octicons-mark-github-w.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
}

@media (min-width: 800px) {
  .icon {
    background-size: 30px;
    height: 30px;
    width: 30px;
  }
}
