.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  height: 100vh;
  overflow-y: auto;
  width: 100%;
}

.tableWrapper {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: center;
  max-height: 600px;
  padding-bottom: 8px;
  scrollbar-width: 0px;
  scrollbar-width: none;
  width: 100%;
}
