.container {
  border: 1px solid gray;
  box-shadow: 0px 4px 20px lightgray;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  flex: 1;
  overflow-y: auto;
}

.list {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.label {
  display: flex;
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  padding: 8px;
  text-transform: capitalize;
}

.row {
  display: flex;
  flex: 1;
}
.row.dark {
  background-color: lightgray;
}

.cell {
  display: flex;
  flex: 1;
  font-size: 18px;
  justify-content: center;
  padding: 4px 8px;
}
