.container {
  border-radius: var(--border-radius);
  border: var(--primary-border);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: var(--screens-max-width);
  overflow: hidden;
}

.list {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-y: auto;
}

.label {
  color: var(--accent-color);
  display: flex;
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  padding: 8px;
  text-transform: capitalize;
}

.header {
  background-color: var(--grid-header-background);
  border-bottom: var(--primary-border);
  display: flex;
  flex: 1;
  padding-right: 18px;
}

.row {
  background-color: var(--grid-background-light);
  display: flex;
  flex: 1;
}

.row.dark {
  background-color: var(--grid-background-dark);
}

.cell {
  color: var(--secondary-text-color);
  display: flex;
  flex: 1;
  font-size: 18px;
  justify-content: center;
  padding: 4px 8px;
}

.cell:first-child {
  cursor: pointer;
}

.cell:first-child:hover {
  color: var(--accent-color);
  font-weight: 500;
}
