.container {
  border-radius: var(--border-radius);
  border: var(--secondary-border);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 250px;
  padding: 16px;
}

.yearRangeFilter {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
