.container {
  align-items: center;
  border-radius: 30px;
  display: flex;
  font-weight: bold;
  gap: 8px;
  line-height: 1;
  padding: 8px 16px;
  text-decoration: none;
}

.container:hover {
  cursor: pointer;
}

.link,
.link:visited,
.link:active {
  background-color: var(--button-secondary);
}

.link:hover {
  background-color: var(--button-secondary-highlight);
}

.button,
.button:visited,
.button:active {
  background-color: var(--button-primary);
  color: var(--secondary-text-color);
}

.button:hover {
  background-color: var(--button-primary-highlight);
}
