.container {
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  padding: 4px 8px;
  text-decoration: none;
}

.link,
.link:visited,
.link:active {
  color: #ef6145;
}

.link:hover {
  color: #ef6145c4;
  cursor: pointer;
}

.button,
.button:visited,
.button:active {
  background-color: #ef6145;
  color: white;
}

.button:hover {
  background-color: #ef6145c4;
  cursor: pointer;
}
